.intro__list {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  padding: 0;
  margin: 33px 0 92px;
}

@media (max-width: 1023px) {
  .intro__list {
    margin: 33px 0 88px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .intro__list {
    margin: 34px 0 64px;
    width: 288px;
  }
}
