.intro {
  width: 984px;
}

@media (max-width: 1279px) {
  .intro {
    width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .intro {
    width: 320px;
  }
}
