.intro {
  width: 984px;
}

@media (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .intro {
    max-width: 320px;
  }
}
