.place-card__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 460px;
  margin: 0;
}

@media (max-width: 1279px) {
  .place-card__title {
    width: 440px;
  }
}

@media (max-width: 1023px) {
  .place-card__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 767px) {
  .place-card__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
  }
}
