.root {
  background-color: #2A2C2F;
  color: white;
  font-family: 'Inter', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
  .root {
    margin-top: 16px;
  }
}
