.cover {
  width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  margin-bottom: 92px;
}

.cover::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  z-index: -1;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover:hover:before {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover  {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .cover  {
    margin-bottom: 64px;
  }
}
