.places__place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto 460px;
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 80px;
}

.places__place:first-child {
  margin-top: 92px;
}

.places__place:last-child {
  margin-bottom: 92px;
}
